@import '../../styles/contants.scss';

.wrapper {
    background: white;

    .container {
        gap: 2rem;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;
        }

        .left {
            flex: 3;

            >* {
                display: block;
            }

            >:nth-child(2) {
                margin-top: 3rem;

                a {
                    text-decoration: underline;
                    color: orange;
                }
            }
        }


        .right {
            flex: 1;

            .info {
                margin-bottom: 1rem;

                >* {
                    display: block;
                }
            }

            .menu {
                @media (max-width: $sm) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    
                }

                display: flex;
                flex-direction: row;
                gap: 2rem;
                list-style: none;

                li {
                    cursor: pointer;
                    

                    &:hover {
                        color: $secondary
                    }
                }
            }
        }
    }

    .copy {
        @media (max-width: $sm){
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
        }


        width: 100%;
        margin: -7px 0 0 44rem;
    }

 

    .f-icon {
        @media (max-width: $sm) {
           font-size: 1rem;
            
        }
    } 
}